<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/WelcomePage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Consent form</title>
    <script src="javascripts/scrollup.js"></script>
</head>
<body onload="topPage()">

    <div class="Instructions_container" >
      <form class="form" id="instructions" action="/agreetoconsentform" method="POST">
        <div class="form__title">
             <h1>Informed consent</h1>
        </div>

        <div class="full_insrctions">
            
            <p>1.	You are about to participate in a digital experiment as part of a fake news study.<br><br>
               2.	During the experiment, you will be presented with several web-pages and you will be asked to answer several questions, all of them are mandatory.<br><br>
                3.	You can withdraw your participation at any time or refuse to answer any question; however, participants who will not complete the required tasks and reach the completion page will not receive credit for their participation.<br> <br> 
                4.	Upon completion of the experiment, you will reach a completion page in which you will receive a verification code. This code will verify that you completed the experiment in Amazon Mechanical Turk so that you will receive credit for this task.<br> <br>
                5.	Confidentiality as to the identity of each participant is guaranteed. It is impossible to connect between the personal details of the participant and the answers and data provided during the experiment.<br><br>
                6.	There is no time limit for completing the experiment, which should take about 20 minutes.<br><br>
                7.	The experiment has been approved by Ben-Gurion University’s ethics committee.<br><br>
                8.	You can raise any question about the experiment by sending an email to orbenzik@post.bgu.ac.il<br><br>
                9.	Please check one of the following boxes:
        </div>


        <div class="insCheckbox">
                 <input type="checkbox" id="inscheckbox" name="inscheckbox"  autofocus required>
                 <label for="inscheckbox">I hereby confirm that I have understood the above and freely give my consent to participate in this experiment.<br><br>  </label>
                 <input type='checkbox' onclick="disagree()" id="closetabcheck" name="closetabcheck">
                 <label for="closetabcheck">I do not confirm. (Checking this box will take you out of the experiment immediately.) </label>


        </div>
         


        <button id="but2" class="form__Insbutton" type="submit">Continue</button>
      </form>
    </div>


</body>
</html>