<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy1" method="POST">
        <div class="form__title">
           <h2>Thank you very much. Bye-Bye</h2>
        </div>
      </form>
    </div>

</body>
</html>