<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy1" method="POST">
        <div class="form__title">
           
        </div>


 
        <div class="insCheckbox">
          <h1>LIVE Transfer Talk: Messi reveals 'dream' of playing in MLS in the future</h1>
	    <h2> Barcelona captain Lionel Messi touched on a myriad of topics in a big interview with La Sexta on Sunday night,
		 but his comments on possibly playing in Major League Soccer one day has piqued the interest of fans in the United States.</h2>

<div class="range-wrap">
<label for="html">How Real is this post? </label><br><br>
    <div class="range-value" id="rangeV"></div>
    Fake<input id="range" type="range" min="200" max="800" value="200" step="1" name="answer" required>Real
  </div>



        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>
<script src="javascripts/slider.js"></script>
</body>
</html>