<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy17" method="POST">
        <div class="form__title">
           
        </div>


        <div class="insCheckbox">
          <h1>YOKO ONO: “I HAD AN AFFAIR WITH HILLARY CLINTON IN THE ’70S”</h1>
	    <h2>Los Angeles | Yoko Ono shocked reporters yesterday when she responded to a question concerning the presidential run of Hillary Clinton and the possibility
 that she could become the first woman President of the United States in American history.
The artist and widow of John Lennon, who is in Los Angeles to present a collection of cups and saucers she is exhibiting at the Museum of Modern Art,
 totally took reporters by surprise by admitting she had not only met the former First Lady at various times during a series of protests against the Vietnam War in New York in the 1970s but also knew her “intimately”.
The celebrity admitted laughingly to having “a fling” with her at the time and acknowledged her election “would be a great advancement for LGBT and Women rights in America” she added.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>