<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy15" method="POST">
        <div class="form__title">
           
        </div>

 
        <div class="insCheckbox">
          <h1>Andrew Yang tore into Trump's physical fitness, calling him "fat."</h1>
	    <h2>At the Iowa State Fair, Democratic presidential candidate Andrew Yang took potshots at Trump, tearing into his physical fitness.
"I can't be eating crap on the trail too often, because I need to stay in presidential form," Yang said. He added no one wants "a president who doesn't seem they can run a mile."
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>