<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy19" method="POST">
        <div class="form__title">
           
        </div>


        <div class="insCheckbox">
          <h1>Jack black comes out as gay</h1>
	    <h2>In February, the much loved This Morning star Jack black bravely came out as gay in a heartfelt social media message.
The television presenter - who had been married for 27 years - then spoke about his story with Holly Willoughby on air.
The television presenter was praised for his bravery as celebrities and viewers flocked to support Phillip.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>