<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy18" method="POST">
        <div class="form__title">
           
        </div>


        <div class="insCheckbox">
          <h1>Kim Kardashian and Kanye West Are Reportedly getting back together</h1>
	    <h2>Big news: Kim Kardashian and Kanye West are reportedly back together.
 Page Six was the first to break this news, with multiple sources telling the outlet that “divorce is was for a moment.”
The source added that “Kim got Kanye to go up there [Wyoming] so they could live separate lives and quietly get things sorted out.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>