<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy14" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/easy/shirt.jpg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>What item of clothing is in the picture?</h1>
            <input type="radio" id="cat" name="answer" value="Shirt" required>
            <label for="html">Shirt     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="Skirt" required>
            <label for="css">Skirt</label><br><br>
            <input type="radio" id="tiger" name="answer" value="Pants" required>
            <label for="javascript">Pants     </label><br><br>
             <input type="radio" id="dog" name="answer" value="Shoes" required>
            <label for="css">Shoes</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>