<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy4" method="POST">
        <div class="form__title">
           
        </div>


 
        <div class="insCheckbox">
          <h1>Sources says Tom Brady will retire</h1>
	    <h2> Tom Brady didn’t make any future commitments, but he did say that it is unlikely he will retire this offseason.
“I would say it’s pretty unlikely, hopefully unlikely,” Brady said when asked in his postgame press conference if there was any possibility.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>

         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>