<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy15" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/easy/pasta.jpeg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>What food appears in the picture? </h1>
            <input type="radio" id="cat" name="answer" value="Potato" required>
            <label for="html">Potato     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="Avocado" required>
            <label for="css">Avocado</label><br><br>
            <input type="radio" id="tiger" name="answer" value="Spaghetti" required>
            <label for="javascript">Spaghetti     </label><br><br>
             <input type="radio" id="dog" name="answer" value="Chocolate" required>
            <label for="css">Chocolate</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>