<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy10" method="POST">
        <div class="form__title">
           
        </div>



        <div class="insCheckbox">
          <h1>3 REASONS WHY YOU SHOULD STOP EATING PEANUT BUTTER CUPS!</h1>
	    <h2>If you’re reading this, I’ll assume you’ve had a Reese’s peanut butter cup at least once in your lifetime. 
I mean, who hasn’t? Not only are they available year round, they also come in fun shapes around the holidays. 
Do Reese’s trees and Reese’s eggs sound familiar? If you’re a fan of the popular peanut butter cups, 
your mouth is probably salivating right about now. Unfortunately, a deeper look into Reese’s ingredients might make you question that last minute purchase at the checkout line. 
As delicious as they are, Reese’s peanut butter cups can be detrimental to your health.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>