<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy9" method="POST">
        <div class="form__title">
           
        </div>

 
        <div class="insCheckbox">
          <h1>Secret plot against President Trump revealed.</h1>
	    <h2>Not long after Attorney General William P. Barr said on Tuesday that the Justice Department had found no evidence of widespread voter fraud in the election last month,
 the pro-Trump media world began circulating a falsehood about him. In this telling, 
Mr. Barr had been part of a plot by a secret cabal of elites against President Trump all along.
The most prominent right-wing personality who spread the baseless narrative was the Fox Business host Lou Dobbs. 
In his nightly show monologue on Tuesday, Mr. Dobbs said that Mr. Barr must be “either a liar or a fool or both” and suggested that he was “perhaps compromised.” Mr. Dobbs added that Mr. Barr “appeared to join in with the radical Dems and the deep state and the resistance.”
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>