<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy2" method="POST">
        <div class="form__title">
           
        </div>

 
        <div class="insCheckbox">
          <h1>Kyrie Irving is Planning to Retire in End of the season</h1>
	    <h2> Brooklin nets point guard Kyrie Irving said Friday he's "hopefully" going to retire from the NBA in the end of this season
The 29-year-old star told Tim Bontemps of ESPN.com why he's planning to walk away from the sport well before his 30h birthday:
"I love basketball itself. But everything that comes with it? It doesn't really matter to me, in terms of my life. I enjoy the game, I enjoy being with my teammates, playing every single day.
"Being an NBA player, this is a dream I've had since I was a kid. I think everything else that comes with it doesn't hold the same stature it once did.
</h2>

<label for="html">How Real is this post? </label><br><br>
<div class="range-wrap">
    <div class="range-value" id="rangeV"></div>
    Fake<input id="range" type="range" min="0" max="100" value="50" step="1" name="answer" required>Real
  </div>

         
 </div>

        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>
<script src="javascripts/slider.js"></script>
</body>
</html>