<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy5" method="POST">
        <div class="form__title">
           
        </div>


        <div class="insCheckbox">
          <h1>Dallas Mavericks trade Prozinges mid-game, leading to an awkward finish on the bench</h1>
	    <h2> With the NBA trade deadline fast-approaching, teams are eager to make every move they can to improve their position, whether that means preparing for a playoff push or rebuilding with future seasons in mind.
 The move would have been fairly standard trade deadline fodder if not for one awkward detail — Prozinges was on the court playing for the Mavericks when the news of the trade broke.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>