<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy14" method="POST">
        <div class="form__title">
           
        </div>

        <div class="insCheckbox">
          <h1>Pentagon officially releases UFO videos and confirmed it</h1>
	    <h2>The Pentagon has officially released three short videos showing "unidentified aerial phenomena" that had previously been released by a private company.
The videos show what appear to be unidentified flying objects rapidly moving while recorded by infrared cameras. 
Two of the videos contain service members reacting in awe at how quickly the objects are moving. 
One voice speculates that it could be a drone.
The Navy previously acknowledged the veracity of the videos in September of last year. 
They are officially releasing them now, "in order to clear up any misconceptions by the public on whether or not the footage that has been circulating was real, 
or whether or not there is more to the videos," according to Pentagon spokesperson Sue Gough
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>