<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy13" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/easy/flower3.jpg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>What color are the flowers? </h1>
            <input type="radio" id="cat" name="answer" value="White" required>
            <label for="html">White     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="Yellow" required>
            <label for="css">Yellow</label><br><br>
            <input type="radio" id="tiger" name="answer" value="Blue" required>
            <label for="javascript">Blue     </label><br><br>
             <input type="radio" id="dog" name="answer" value="Red" required>
            <label for="css">Red</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>