<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy16" method="POST">
        <div class="form__title">
           
        </div>



        <div class="insCheckbox">
          <h1>Dua Lipa reveals her impeccable abs as she dances NAKED in a forest with angel wings in ethereal new video </h1>
	    <h2>She's been a mainstay in the industry for decades.
And Dua lipa knew exactly how to hit her marks as she revealed her impeccable abs while dancing naked in the forest in her new video.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>