<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy20" method="POST">
        <div class="form__title">
           
        </div>


 
        <div class="insCheckbox">
          <h1>Zendaya has been fired from new movie</h1>
	    <h2>In a letter to fans, Zendaya said she had been "asked to resign" from her role and had "respected that and agreed to that request".
she called the libel judgement "surreal" and confirmed her plans to appeal.
Film studio Warner Bros confirmed Zendaya departure and said her role would be recast.
"We thank Zendaya for her work on the films to date," it said in a statement.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>