<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy13" method="POST">
        <div class="form__title">
           
        </div>

        <div class="insCheckbox">
          <h1>RUPAUL CLAIMS TRUMP TOUCHED HIM INAPPROPRIATELY IN THE 1990S </h1>
	    <h2>The famous drag queen, actor and recording artist Rupaul, claims that Donald Trump grabbed his ass and genitals during a party in 1995.
In an exclusive interview with the Hollywood Inquirer, Rupaul said that Mr. Trump “made a move” on him during an event celebrating the release of the movie To Wong Foo, Thanks for Everything! Julie Newmar.
The artist was wearing his full drag queen apparel at the time and says Trump clearly mistook him for a real woman.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>