<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy3" method="POST">
        <div class="form__title">
           
        </div>

 
        <div class="insCheckbox">
          <h1>US Women's National Team sues U.S. Basketball for gender discrimination over pay</h1>
	    <h2> In March, 28 members of the U.S. Women's National Team filed a gender discrimination lawsuit,
 alleging that "institutionalized gender discrimination" was affecting their pay, travel, playing schedule, training, medical treatment, and more. 
The lawsuit is ongoing, with the USWNT gaining more support after winning the Olympics.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>