<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy12" method="POST">
        <div class="form__title">
           
        </div>

        <div class="insCheckbox">
          <h1>Evidence Surfaces That The FBI Planned And Executed January 6 Capitol Riot </h1>
	    <h2>Evidence is mounting that the FBI was involved in planning and executing the January 6 Capitol event after a report dropped Monday night silently from Revolver News.
 The moment January 6 happened, the suspicion that this wasn’t coming from the MAGA movement was immediate.
Conservatives immediately saw this for what it was and refused to believe that MAGA people did anything but protest peacefully.
 Revolver says the evidence points to the FBI as a major contributing factor if not the culprit behind the January 6 psyop.
</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>