<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy6" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/easy/dog.jpeg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>Which animal is in the picture?</h1>
            <input type="radio" id="cat" name="answer" value="cat" required>
            <label for="html">Cat     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="wolf" required>
            <label for="css">Wolf</label><br><br>
            <input type="radio" id="tiger" name="answer" value="tiger" required>
            <label for="javascript">Tiger     </label><br><br>
             <input type="radio" id="dog" name="answer" value="dog" required>
            <label for="css">Dog</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>