<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy1" method="POST">
        <div class="form__title">
           
        </div>


 
        <div class="insCheckbox">
          <h1>LIVE Transfer Talk: Messi reveals 'dream' of playing in MLS in the future</h1>
	    <h2> Barcelona captain Lionel Messi touched on a myriad of topics in a big interview with La Sexta on Sunday night,
		 but his comments on possibly playing in Major League Soccer one day has piqued the interest of fans in the United States.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>