<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy8" method="POST">
        <div class="form__title">
           
        </div>


 
        <div class="insCheckbox">
          <h1>Exposed: FBI Director James Comey’s Clinton Foundation Connection</h1>
	    <h2>WASHINGTON, D.C. — A review of FBI Director James Comey’s professional history and relationships shows that the Obama cabinet leader 
— now under fire for his handling of the investigation of Hillary Clinton — is deeply entrenched in the big-money cronyism culture of Washington, 
D.C. His personal and professional relationships — all undisclosed as he announced the Bureau would not prosecute Clinton
 — reinforce bipartisan concerns that he may have politicized the criminal probe.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>