<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/easy7" method="POST">
        <div class="form__title">
           
        </div>



        <div class="insCheckbox">
          <h1>Be like Mike: Ed Sheeran wants to own an NBA team</h1>
	    <h2>Considering his participation in the last few NBA Celebrity All-Star games, might Ed think of himself as a real stud on the court?.
 Would anyone really be surprised if Ed put himself on the team for at least a few games a season? I certainly wouldn't.</h2>
            <input type="radio" id="Real" name="answer" value="0" required>
            <label for="html">Real    </label><br><br>
	    <input type="radio" id="Fake" name="answer" value="1" required>
            <label for="html">Fake    </label><br><br>
         

          </div>
         
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>