<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Thank You</title>
</head>
<body>

    <div class="finish_container" >
        <div class="form__title">
            <h4 style="text-align: left;">Thank you!<br>
We would like to inform you that you have just participated in a research
project that studies digital risk aversion.
This study, conducted by a research team from Ben-Gurion University, aims at
examining how users behave in response to a link that appears during the
performance of regular online tasks.
By understanding why users click unknown links we hope to serve the
ongoing endeavor to create a safer digital environment for users.
We respect your privacy, and we are not saving or using any of your personal
data. We would also like to assure you that the link you saw during the task
was created by us and did not really expose you to any risk.
Thanks again for taking part in our study.</h4>
<h3 style="text-align: left;">We allow only one participation for each Mturker. We will reject any additional participation. Please do not take this HIT again.</h3><br>
             <h2>
             Your Mturk finish code is: <br><br> 
             <span class="finishcode">{{creditcode.code}}</span><br><br>
             You can now exit this page. </h2>
        </div>
    </div>

</body>
</html>