<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Thank You</title>
</head>
<body>

    <div class="finish_container" >
        <div class="form__title">
            <h4 style="text-align: left;">Thank you!<br>
We would like to inform you that you have just participated in a research
project that studies Fake News on social media.
This study, conducted by a research team from Ben-Gurion University, aims at
examining how users decides if a post is real or fake depending of the length and emotionality.
By understanding why users thinks any post is real or fake we hope to minimize the amount of fake posts out there.
We respect your privacy, and we are not saving or using any of your personal
data.
Thanks again for taking part in our study.</h4>
<h3 style="text-align: left;">We allow only one participation for each Mturker. We will reject any additional participation. Please do not take this HIT again.</h3><br>
             <h2>
             Your Mturk finish code is: <br><br> 
             <span class="finishcode">{{creditcode.code}}</span><br><br>
             You can now exit this page. </h2>
        </div>
    </div>

</body>
</html>