<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/hard14" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/hard/money.jpeg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>How much money is in the picture?</h1>
            <input type="radio" id="cat" name="answer" value="10000" required>
            <label for="html">10000     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="100" required>
            <label for="css">100</label><br><br>
            <input type="radio" id="tiger" name="answer" value="100000" required>
            <label for="javascript">100000     </label><br><br>
             <input type="radio" id="dog" name="answer" value="1000" required>
            <label for="css">1000</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>