<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/mission.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Mission</title>
</head>
<body>
 
 
    <div class="Mission_container" >
      <form class="form" id="Mission" action="/hard9" method="POST">
        <div class="form__title">
           
        </div>

        <div class="full_mission">
            <img class="picture" src="images/hard/num1.jpeg" alt="dog">
            
        </div>

 
        <div class="insCheckbox">
          <h1>What is the highest number in the picture?</h1>
            <input type="radio" id="cat" name="answer" value="17" required>
            <label for="html">17     </label><br><br>
            <input type="radio" id="wolf" name="answer" value="23" required>
            <label for="css">23</label><br><br>
            <input type="radio" id="tiger" name="answer" value="29" required>
            <label for="javascript">29     </label><br><br>
             <input type="radio" id="dog" name="answer" value="45" required>
            <label for="css">45</label><br><br>

        </div>
         


        <button id="but2" class="form__button " type="submit">Continue</button>
      </form>
    </div>

</body>
</html>