<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/links.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
   <script src="javascripts/brokenlink.js"></script>

    <title>Link19</title>
</head>
<body>
<div class="Mission_container">
     <form class="form" id="Mission" action="/high3" method="POST">
               <button id="but2" name="answer" value="no" class="xbot" type="submit">&times;</button>

 
              <h3>Go check out this new Tiktok sensation!!</h3>
            <button    type="submit" name="answer" value="yes" onclick="openlink()"  class="linkbutton">http://www.nbcs.com/article/school555/$$-FDBT$$/wowitems</button>
              <br><br><br>
              
     </form>


</div>

</body>
</html>