<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/WelcomePage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Questionnaires</title>
</head>
<body>

    <div class="questionnaires_container" >
      <form class="form" id="questionnaires" action="/questionnaires" method="POST">
        <div class="ques_form__title">
             <h2>Please answer the following questions:</h2><br>
        </div>

        <div class="full_questionnaires">
           <h3>1. How old are you?</h3>
            <input type="radio"  name="answer1" value="younger than 17" required>
            <label for="html">Younger than 17     </label><br>
            <input type="radio"  name="answer1" value="18-24" required>
            <label for="css">18-24</label><br>
            <input type="radio"  name="answer1" value="25-34" required>
            <label for="javascript">25-34 </label><br>
             <input type="radio"  name="answer1" value="35-44" required>
            <label for="css">35-44</label><br>
           <input type="radio"  name="answer1" value="45-54" required>
            <label for="css">45-54</label><br>
            <input type="radio"  name="answer1" value="55-64" required>
            <label for="javascript">55-64 </label><br>
             <input type="radio"  name="answer1" value="65 and up" required>
            <label for="css">65 and up</label><br><br>

             <h3>2.What is your level of education?</h3>
            <input type="radio"  name="answer2" value="No high school diploma" required>
            <label for="html">No high school diploma</label><br>
            <input type="radio"  name="answer2" value="High school diploma" required>
            <label for="css">High school diploma</label><br>
            <input type="radio"  name="answer2" value="Professional qualification" required>
            <label for="javascript">Professional qualification</label><br>
             <input type="radio"  name="answer2" value="Bachelor degree" required>
            <label for="css">Bachelor degree</label><br>
            <input type="radio"  name="answer2" value="Masters degree and above" required>
            <label for="css">Masters degree and above</label><br><br>
          

             <h3>3.What is your gender?</h3>
            <input type="radio"  name="answer3" value="Male" required>
            <label for="html">Male</label><br>
            <input type="radio"  name="answer3" value="Female" required>
            <label for="css">Female</label><br>
            <input type="radio"  name="answer3" value="Other" required>
            <label for="javascript">Other</label><br><br>

            <h3>4. What is your daily average of non-work PC usage? </h3>
            <input type="radio"  name="answer4" value="Less than an hour" required>
            <label for="html">Less than an hour</label><br>
            <input type="radio"  name="answer4" value="Between 1-3 hours" required>
            <label for="css">Between 1-3 hours</label><br>
            <input type="radio"  name="answer4" value="Between 3-5 hours" required>
            <label for="javascript">Between 3-5 hours</label><br>
             <input type="radio"  name="answer4" value="More than 5 hours" required>
            <label for="css">More than 5 hours</label><br><br>

            <h3>5.What is your daily average of non-work mobile usage? </h3>
            <input type="radio"  name="answer5" value="Less than an hour" required>
            <label for="html">Less than an hour</label><br>
            <input type="radio"  name="answer5" value="Between 1-3 hours" required>
            <label for="css">Between 1-3 hours</label><br>
            <input type="radio"  name="answer5" value="Between 3-5 hours" required>
            <label for="javascript">Between 3-5 hours</label><br>
             <input type="radio"  name="answer5" value="More than 5 hours" required>
            <label for="css">More than 5 hours</label><br><br>

            <h3>6. Are you currently in a private or a public space? </h3>
            <input type="radio"  name="answer6" value="Private" required>
            <label for="html">Private</label><br>
            <input type="radio"  name="answer6" value="Public" required>
            <label for="css">Public</label><br><br>
            

             <h3>7. In which platform did you conduct the experiment?</h3>
            <input type="radio"  name="answer7" value="Desktop" required>
            <label for="html">Desktop</label><br>
            <input type="radio"  name="answer7" value="Laptop" required>
            <label for="css">Laptop</label><br>
            <input type="radio"  name="answer7" value="Smartphone" required>
            <label for="javascript">Smartphone</label><br><br>
        

             <h3>8. What is your current location? </h3>
            <input type="radio"  name="answer8" value="North America" required>
            <label for="html">North America</label><br>
            <input type="radio"  name="answer8" value="South America" required>
            <label for="css">South America</label><br>
            <input type="radio"  name="answer8" value="Europe" required>
            <label for="javascript">Europe</label><br>
             <input type="radio"  name="answer8" value="Africa" required>
            <label for="css">Africa</label><br>
           <input type="radio"  name="answer8" value="Asia" required>
            <label for="css">Asia</label><br>
            <input type="radio"  name="answer8" value="Middle East" required>
            <label for="javascript">Middle East</label><br>
            <input type="radio"  name="answer8" value="Australia" required>
            <label for="javascript">Australia</label><br><br>

         

             <h3>9. How many people are currently around you? </h3>
            <input type="radio"  name="answer9" value="None" required>
            <label for="html">None</label><br>
            <input type="radio"  name="answer9" value="1-5" required>
            <label for="css">1-5</label><br>
            <input type="radio"  name="answer9" value="6-15" required>
            <label for="javascript">6-15</label><br>
             <input type="radio"  name="answer9" value="16+" required>
            <label for="css">16+</label><br><br>

           <h2>Please answer the following questions on a scale of 1 to 7.</h2>
        
            <h3>10.What is the level of noise surrounding you?</h3>
             <input type="radio"  name="answer10" value="1-No noise" required>
            <label for="html">1-No noise</label><br>
            <input type="radio"  name="answer10" value="2" required>
            <label for="css">2</label><br>
            <input type="radio"  name="answer10" value="3" required>
            <label for="javascript">3</label><br>
             <input type="radio"  name="answer10" value="4" required>
            <label for="css">4</label><br>
           <input type="radio"  name="answer10" value="5" required>
            <label for="css">5</label><br>
            <input type="radio"  name="answer10" value="6" required>
            <label for="javascript">6 </label><br>
            <input type="radio"  name="answer10" value="7-High noise" required>
            <label for="javascript">7-High noise </label><br><br>


            <h3>11. Are you currently in a closed or an open space?</h3>
            <input type="radio"  name="answer11" value="1-Closed space" required>
            <label for="html">1-Closed space</label><br>
            <input type="radio"  name="answer11" value="2" required>
            <label for="css">2</label><br>
            <input type="radio"  name="answer11" value="3" required>
            <label for="javascript">3</label><br>
             <input type="radio"  name="answer11" value="4" required>
            <label for="css">4</label><br>
           <input type="radio"  name="answer11" value="5" required>
            <label for="css">5</label><br>
            <input type="radio"  name="answer11" value="6" required>
            <label for="javascript">6 </label><br>
            <input type="radio"  name="answer11" value="7-Open space" required>
            <label for="javascript">7-Open space </label><br><br>


      <h3>12. Are you currently in a small or large space?</h3>
            <input type="radio"  name="answer12" value="1-Smallest" required>
            <label for="html">1-Smallest</label><br>
            <input type="radio"  name="answer12" value="2" required>
            <label for="css">2</label><br>
            <input type="radio"  name="answer12" value="3" required>
            <label for="javascript">3</label><br>
             <input type="radio"  name="answer12" value="4" required>
            <label for="css">4</label><br>
           <input type="radio"  name="answer12" value="5" required>
            <label for="css">5</label><br>
            <input type="radio"  name="answer12" value="6" required>
            <label for="javascript">6 </label><br>
            <input type="radio"  name="answer12" value="7-Largest" required>
            <label for="javascript">7-Largest</label><br><br>


             <h3>13. What is the level of darkness that surrounds you? </h3>
            <input type="radio"  name="answer13" value="1-Not dark at all" required>
            <label for="html">1-Not dark at all</label><br>
            <input type="radio"  name="answer13" value="2" required>
            <label for="css">2</label><br>
            <input type="radio"  name="answer13" value="3" required>
            <label for="javascript">3</label><br>
             <input type="radio"  name="answer13" value="4" required>
            <label for="css">4</label><br>
           <input type="radio"  name="answer13" value="5" required>
            <label for="css">5</label><br>
            <input type="radio"  name="answer13" value="6" required>
            <label for="javascript">6 </label><br>
            <input type="radio"  name="answer13" value="7-Extremely dark" required>
            <label for="javascript">7-Extremely dark</label><br><br>


         
        </div>

        <button id="but2" class="form__Insbutton" type="submit">Submit</button>
      </form>
    </div>

</body>
</html>